<div class="w3-container w3-border w3-round-large w3-centercard card">
  <div class="row w3-center">
    <img class="titleimage" src="https://i.imgur.com/MkqePzQ.png" />
  </div>

  <div class="row">
    <div class="column">
      <h4><b><%= @game_room.title.capitalize %></b></h4>
      <p><b>On this Xmas, your secret santa is <%= @friend.name %></b></p>
      <p>To continue playing, enter the GameRoom</p>
      <button class="w3-button w3-round-xxlarge fontlink buttonlink">
        <%= link_to "Enter", @url, class: 'w3-button w3-round-xxlarge fontlink buttonlink' %>
      </button>
    </div>
    <div class="column">
      <img class="titleimage" src="https://i.imgur.com/dWbW4AF.png" />
    </div>
  </div>
</div>